<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>44925733920-njt4349khjh790rbkcoh1p8dtu5qqpaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.44925733920-njt4349khjh790rbkcoh1p8dtu5qqpaq</string>
	<key>API_KEY</key>
	<string>AIzaSyD5I_HlqZFz9QtIRlKXaJuN-i7zO6g2vOg</string>
	<key>GCM_SENDER_ID</key>
	<string>44925733920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mental-health-assistant</string>
	<key>PROJECT_ID</key>
	<string>mental-health-assistant-bf1df</string>
	<key>STORAGE_BUCKET</key>
	<string>mental-health-assistant-bf1df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44925733920:ios:32bee5fe1f0a0cc96c4045</string>
</dict>
</plist>